/* .page is the wrapper for everything */

.page ::selection{
  text-decoration: none;
  background-color: #504945;
}
.page ::-moz-selection{
  text-decoration: none;
  background-color:#504945;
}

/* .page img {
  box-shadow: none;
  width: 100%;
  display: block;
  user-select: none;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
} */