.links {
    display: flex;
}

.links span {
    display: flex;
    align-items: center;
}

.sidelink {
    color: #444a4a;
    font-size: 14px;
    padding-bottom: 4px;
}

div.mobileNavContainer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    z-index: 2;
    
    display: flex;
    justify-content: center;
}

nav.mobileNav {
    
    width: calc(480px - 48px);
    max-width: calc(100vw - 48px);

    padding: 12px 24px 14px;
    background-color: #fff;
    border-top: 2px solid black;

    user-select: none;
}

nav.simpleNav {
    position: fixed;
    display: flex;
    justify-content: space-between;

    margin: 30px 0;
    width: 1280px;
    max-width: 95vw;

    z-index: 10;
    user-select: none;
}